{% extends 'admin/admin_base.html' %}
{% block content %}
            {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Jailer Approval</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


<table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Name</th>
<!--<th class="info" style="background-color: lightgreen;">Designation</th>-->
<th class="info" style="background-color: lightgreen;">Experience</th>
<th class="info" style="background-color: lightgreen;">Warden Id</th>
<th class="info" style="background-color: lightgreen;">Email</th>
<th class="info" style="background-color: lightgreen;">Image</th>
<th class="info" style="background-color: lightgreen;">Approve</th>
<th class="info" style="background-color: lightgreen;">Reject</th>
{% for dri in warden  %}

<tr>
    <td>{{ dri.user.first_name}}</td>
<!--    <td>{{ dri.designation}}</td>-->
    <td>{{ dri.experience}}</td>
    <td>{{ dri.id}}</td>

    <td>{{ dri.user.email}}</td>
    <td><img src="{{ dri.image.url }}" style="width: 115px; height: 115px;"></td>

    <td><a href="approve?id={{ dri.user_id}}" class=" btn btn-success">Approve</a></td>
    <td><a href="reject?id={{ dri.user_id}}" class=" btn btn-danger">Reject</a></td>

</tr>

    {% endfor %}
</table>

{% endblock %}