{% extends 'admin/admin_base.html' %}

{% block content %}
<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Jailer Approval</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

   <table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Number</th>
<th class="info" style="background-color: lightgreen;">Name</th>
<th class="info" style="background-color: lightgreen;">View Details</th>


{% for dri in view_prisonerr  %}

<tr>
    <td>{{ dri.number}}</td>
    <td>{{ dri.name}}</td>



    <td><a href="prisoner_details?id={{ dri.id}}" class=" btn btn-success">Details</a></td>


</tr>

    {% endfor %}
</table>


{% endblock %}