{% extends 'admin/admin_base.html' %}

{% block content %}
<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Jailer Approval</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
   <table class="table table-bordered table-striped table-hover">
{% for dri in view_health_details  %}
<tr>
    <th>Height :</th>
    <td>{{ dri.height }}</td>
</tr>
<tr>
    <th>Blood Group :</th>
    <td>{{ dri.blood_group }}</td>
</tr>
<tr>
    <th>Allergies   :</th>
    <td>{{ dri.allergies }}</td>
</tr>
<tr>
    <th>Diseases   :</th>
    <td>{{ dri.deseases }}</td>
</tr>
 <tr>
    <th>Weight   :</th>
    <td>{{ dri.weight }}</td>
</tr>
<tr>
    <th>BP      :</th>
    <td>{{ dri.bp }}</td>
</tr>
<tr>
    <th>Medication  :</th>
    <td>{{ dri.medication }}</td>
</tr>
<tr>
    <th>Reading Date :</th>
    <td>{{ dri.reading_date }}</td>
</tr>

{% endfor %}



</table>
{% endblock %}