{% extends 'admin/admin_base.html' %}

{% block content %}
<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Jailer Approval</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
<table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Number</th>
<th class="info" style="background-color: lightgreen;">Name</th>
<th class="info" style="background-color: lightgreen;">Complaint</th>
<th class="info" style="background-color: lightgreen;">Action</th>

{% for dri in view_com  %}

<tr>
    <td>{{ dri.number}}</td>
    <td>{{ dri.prisoner.name}}</td>
    <td>{{ dri.complaint }}</td>

     <form action="#" method="post">
        {% csrf_token %}

    <td><input type="text" name="action" placeholder="reply" >
          <input type="hidden" name="id" value="{{ dri.id }}"><button type="submit">Send</button></td>
</form>
{#    <td><a href="reject?id={{ dri.user_id}}" class=" btn btn-danger">Remove</a></td>#}

</tr>

    {% endfor %}
</table>
{% endblock %}