
 {% extends 'health_officer/h_officer_base.html' %}

{% block content %}


<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Add Health Details</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h2>Contact details</h2> -->
                    <p class="p-heading">Inmates constitute a distinct and vulnerable health population that requires special privileges.
                    High rates of suicide within prison and increased mortality from all causes on release have been documented.
                    So, it is of utmost importance to record the health details of inmates</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Contact Form -->
                    <form id="contactForm" method="post" action=""  enctype="multipart/form-data" name="regForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="height" name="height" required >
                            <label class="label-control" for="height">Height</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="blood_group" name="blood_group"  required>
                            <label class="label-control" for="blood_group">Blood Group</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" name="allergies" id="allergies" required>
                            <label class="label-control" for="allergies">Allergies</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="diseases" class="form-control-input"  id ="diseases" required>
                            <label class="label-control" for="diseases">Diseases</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="weight" class="form-control-input" id="weight" required>
                            <label class="label-control" for="weight">Weight</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="bp" class="form-control-input" id="bp" required>
                            <label class="label-control" for="bp">BP</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="medication" class="form-control-input" id="medication" required>
                            <label class="label-control" for="medication">Medication</label>
                        </div>
                        <div class="form-group">
                            <input type="text"  name="reading_date" class="form-control-input" id="reading_date" required>
                            <label class="label-control" for="reading_date">Reading Date</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->

 {% endblock %}



