{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Jailer Registration</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h2>Contact details</h2> -->
                    <p class="p-heading">New Jailers who've got an appointment letter are required to sign up through this form. You will only get jailer
                    privileges once your account has been approved by the Director General of Police.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Contact Form -->
                    <form id="contactForm" method="post" action=""  enctype="multipart/form-data" name="regForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="fname" name="name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"  required >
                            <label class="label-control" for="fname">Name</label>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-input" id="lname" name="experience"  style="padding-left:120px" required>
                            <label class="label-control" for="lname">Experience</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" name="email" id="email" required>
                            <label class="label-control" for="email">Email</label>
                        </div>
                        <div class="form-group">
                            <input type="file" name="image" class="form-control-input" style="padding-left:120px" id ="image" required>
                            <label class="label-control">Image</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control-input" id="username" required>
                            <label class="label-control" for="username">Username</label>
                        </div>
                        <div class="form-group">
                            <input type="password" pattern=".{8,}" title="Eight or more characters" name="password" class="form-control-input" id="pw" onclick="pass()" required>
                            <label class="label-control" for="pw">Password</label>
                        </div>
                        <span id="msg3" style="color: red"></span>
                        <div class="form-group">
                            <input type="password" name="con_password" class="form-control-input" id="pw1" required>
                            <label class="label-control" for="pw1">Confirm Password</label>
                        </div>
                        <span id="msg4" style="color: red"></span>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->


{% endblock %}