
{% extends 'warden/warden_base.html' %}
{% block content %}

  <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Prisoner List</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

<table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Number</th>
<th class="info" style="background-color: lightgreen;">Name</th>
<th class="info" style="background-color: lightgreen;">View Details</th>
   <th class="info" style="background-color: lightgreen;">Update</th>
<th class="info" style="background-color: lightgreen;">Remove</th>

{% for dri in view_prisoner  %}

<tr>
    <td>{{ dri.number}}</td>
    <td>{{ dri.name}}</td>



    <td><a href="view_details?id={{ dri.id}}" class=" btn btn-success">Details</a></td>
     <td><a href="update_view_details?id={{ dri.id}}" class=" btn btn-success">Update</a></td>
    <td><a href="prison_remove?id={{ dri.id}}" class=" btn btn-danger">Remove</a></td>

</tr>

    {% endfor %}
</table>
{% endblock %}
