
{% extends 'warden/warden_base.html' %}
{% block content %}


  <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>View Schedule</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

<table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Task Name</th>
<th class="info" style="background-color: lightgreen;">View</th>


{% for dri in view_schedule  %}

<tr>
    <td>{{ dri.task_name}}</td>
    <td><a href="view_schedule_task?task_name={{ dri.task_name }}" class=" btn btn-success">View</a></td>
</tr>

    {% endfor %}
</table>
{% endblock %}
