
{% extends 'warden/warden_base.html' %}
{% block content %}


  <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>View Tasks</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

<table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: lightgreen;">Task Name</th>
{#<th class="info" style="background-color: lightgreen;">Min</th>#}
<th class="info" style="background-color: lightgreen;">Max</th>
<th class="info" style="background-color: lightgreen;">Update</th>

{% for dri in view_task  %}

<tr>
    <td>{{ dri.task_name}}</td>
{#    <td>{{ dri.min}}</td>#}
    <td>{{ dri.max}}</td>
   <td><a href="update_task?task_name={{ dri.task_name }}" class=" btn btn-success">Update</a></td>
</tr>

    {% endfor %}
</table>
{% endblock %}
